.hero {
  text-align: center;

  &__overlay {
    padding: 200px 0;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;

    background-color: #2f303a;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__title {
    margin: 0 auto 30px auto;
    max-width: 696px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
