.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 40px;

  text-align: center;

  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  &__close-btn-outline {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &__title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }

  &__form {
    margin-top: 12px;
  }

  &__input-field:not(:first-child) {
    margin-top: 10px;
  }

  &__agreement {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 30px;
  }

  .backdrop.is-hidden & {
    transform: scale(1.1);

    @media screen and (min-width: 768px) {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
