.input-field {
  &:not(:first-child) {
    margin-top: 10px;
  }
  &__input {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    margin-top: 4px;
    width: 100%;
    height: 40px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--input-text-color);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
  }

  &__input:focus {
    border: 1px solid var(--accent-color);
  }
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
  }
  &__overlay {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(12px, -50%);

    fill: #000000;

    transition: fill 250ms var(--timing-function);
  }
  &__input:focus + &__icon {
    fill: var(--accent-color);
  }
  &__input--comment {
    padding: 12px 16px;
    height: 120px;

    resize: none;
  }
  &__input--comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--input-text-color);
  }
}
