:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --input-text-color: rgba(117, 117, 117, 0.5);
  --accent-color: #2196f3;
  --bg-color: #ffffff;

  --section-item-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
